html {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
body {
	margin: 0px;
	padding: 0px;
	background-color: rgba(250, 240, 139, 0.46);}
h1 {
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 10px;
	width: 100%;
}

.hide {
	display: none;
}

div#headerContainer {
	text-align: center;
}

div#mainContainer {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
	width: 100%;
}

div#mainContainer form {
	display: inline-block;
	padding: 10px;
	
	border-radius: 10px;		/* CSS3草案 */
	-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 10px;	/* Firefox用 */
	border-style: none;
	background-color: #fbfbfb;
	width: 60%;
}

div#mainContainer form input {
/*	padding: 5px;
	margin-bottom: 10px;*/
}

input#gotText {
	font-size: large;
	text-align: center;
	width: 70%;
	padding: 5px;
	margin-bottom: 10px;
}

input#createLength {
	padding: 5px;
	margin-bottom: 10px;
	width: 50px;
}

input.formButton {
	font-size: x-large;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

#optionLabel {
	font-size: small;
}

#optionForm {
	padding-top: 10px;
}

#optionForm label {
}

div#footerContainer {
	text-align: center;
}

div#footerContainer ul {
/*	display: inline;*/
	margin: 0px;
	padding: 0px;
}

div#footerContainer ul li {
	display: inline;
	font-size: small;
}